#content-container-lw {
    position: relative;
    background-color: #4F362F;
}

#status-bar-lw {
    margin-top: 30px;
    margin-bottom: 70px;
    /* background-color: magenta; */
}

.game-status-lw {
    position: relative;
    padding: 10px;
    background: #7F7571;
    color: rgb(49, 32, 27);
    font-weight: bold;
    text-align: center;
}

.pull-right {
    position: absolute;
    right: 1%;
}

.pull-top {
    position: absolute;
    top: 0;
}

#controls-lw {
    /* background-color: white; */
}

.control-btns-lw {
    border: none;
    height: 30px;
    widows: 30px;;
    background: #7F7571;
    color: #4F362F;
}

#game-over-text-lw {
    color: white;
    font-size: 50px;
}

#restart-btn-lw {
    border: none;
    background-color: #4F362F;
    color: white;
}

#tiles-container-lw {
    /* background-color: green; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #game-container-lw {
        height: 320px;
        width: 260;
        margin: 0 auto;
        text-align: center;
        /* background-color: red; */
    }

    .tile-rows-lw {
        /* background-color: blue;  */
        height: 36px;
    }
    
    .tiles-lw {
        background-color:#3b2814;
        border-radius: 5px; 
        margin-left: 1px;
        width:35px; 
        height:35px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #game-container-lw {
        height: 430px;
        width: 360px;
        margin: 0 auto;
        text-align: center;
        /* background-color: red; */
    }

    .tile-rows-lw {
        /* background-color: blue;  */
        height: 51px;
    }
    
    .tiles-lw {
        background-color:#3b2814;
        border-radius: 5px; 
        margin-left: 1px;
        width:50px; 
        height:50px;
    }
} 

.target-tiles-lw {
    background-color: rgb(23, 138, 138);
}

.correct-tiles-lw {
    background-color: lightgreen;
}

.wrong-tiles-lw {
    background-color: red;
}

.rotatecw-lw {
    -webkit-transition: -webkit-transform 0.5s linear;
    -webkit-transform: rotate(90deg);
}

.rotateccw-lw {
    -webkit-transition: -webkit-transform 0.5s linear;
    -webkit-transform: rotate(-90deg);
}
