#content-container-lw {
    position: relative;
    background-color: #4F362F;
}

#status-bar-lw {
    margin-top: 50px;
    margin-bottom: 100px;
    /* background-color: magenta; */
}

.game-status-lw {
    position: relative;
    padding: 10px;
    background: #7F7571;
    color: #4F362F;
    font-weight: bold;
    text-align: center;
}

.pull-right {
    position: absolute;
    right: 0;
}

.pull-top {
    position: absolute;
    top: 0;
}

#controls-lw {
    /* background-color: white; */
}

.control-btns-lw {
    border: none;
    height: 30px;
    widows: 30px;;
    background: #7F7571;
    color: #4F362F;
}

#game-container-lw {
    height: 400px;
    width: 350px;
    padding-bottom: 30px;
    margin: 0 auto;
    /* background-color: red; */
}

#tiles-container-lw {
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    /* background-color: green; */
}

.tile-rows-lw {
    /* background-color: blue;  */
}

.tiles-lw {
    background-color:#3b2814;
    border-radius: 5px; 
    width:50px; 
    height:50px;
}

.target-tiles-lw {
    background-color: rgb(23, 138, 138);
}

.correct-tiles-lw {
    background-color: lightgreen;
}

.wrong-tiles-lw {
    background-color: red;
}

.rotatecw-lw {
    -webkit-transition: -webkit-transform 0.5s linear;
    -webkit-transform: rotate(90deg);
}

.rotateccw-lw {
    -webkit-transition: -webkit-transform 0.5s linear;
    -webkit-transform: rotate(-90deg);
}