#content-container-lw {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:#855439;
}

#status-bar-lw {
    margin-top: 5px;
    margin-bottom: 5px;
}

.game-status-lw {
    border: 1px, solid black;
    background: rgb(95, 29, 20);
    color: white;
    margin-top: 20px;
    margin-bottom: 75px;
    text-align: center;
}

#game-container-lw {
    height: 430px;
    background-color: red;
}

#tiles-container-lw {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: green;
}

.tile-rows-lw {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: blue;
}

.tiles-lw {
    background-color:#3b2814; 
    width:50px; 
    height:50px;
}

.target-tiles-lw {
    background-color: rgb(23, 138, 138);
}

.correct-tiles-lw {
    background-color: lightgreen;
}

.wrong-tiles-lw {
    background-color: red;
}

.rotatecw-lw {
    -webkit-transition: -webkit-transform .5s linear;
    -webkit-transform: rotate(90deg);
}

.rotateccw-lw {
    -webkit-transition: -webkit-transform .5s linear;
    -webkit-transform: rotate(-90deg);
}